<link rel="stylesheet" type="text/css" href="../css/portal.css" />

<!--Google jQuery CDN-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    {{!-- Vue js CDN   --}}
<script src="https://unpkg.com/vue"></script>

<div id="header">
        <div id="header">
            <div id="logo">
              <img alt="image_logo" src="../img/cp_logo.png" />
            </div>
            
            <div id="menubar" align="right">
              Login As : {{username}}<br />
              <a href="/logout">Logout</a>
            </div>
          </div>
</div>

    <div id="content">
        <h1>Product List</h1>

        <div id="operation_buttons">
            <button class="buttons" v-on:click="addProduct()" v-bind:disabled="editOperation || deleteOperation" >Add</button>
            <button class="buttons" v-on:click="editProduct()" v-bind:disabled="addOperation || deleteOperation" >Edit</button>
            <button class="buttons" v-on:click="deleteProduct()" v-bind:disabled="addOperation || editOperation" >Delete</button>
        </div>

        <div id="filter_sort">
            Filter : <input type="text" placeholder="Please enter .." />
            Sort : <select>
                <option selected disabled>Sort</option>
                <option>A-Z</option>
                <option>Z-A</option>
            </select>
        </div>

        <table id="product_listing">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>Product Code</th>
                    <th>Product Details</th>
                    <th>Operations</th>
                </tr>
            </thead>

            <tbody>
                <tr v-show="addOperation">
                    <td>0</td>
                    <td>
                        Product Code : <input type="text" /> <br />
                        Product Name : <input type="text" /><br />
                        Color Variations : <input type="text" />
                    </td>
                    <td>
                        Product Descriptions : <textarea placeholder="This information will display in the main page .. " rows="5" cols="50"></textarea> <br />
                        Product Details : <textarea placeholder="This information will display in the product page .. " rows="5" cols="50"></textarea>
                    </td>
                    <td>
                        <button id="add_btn">Add</button>
                    </td>
                </tr>

                <tr v-for="(product, code) in products">
                    <td>\{{numbering}}</td>
                    <td>
                        <span v-if="productEditStatus[code]">
                            Product Code : <input type="text" v-bind:value="code" />
                        </span>

                        <span v-else>
                            \{{code}}
                        </span>
                    </td>
                    <td align="left">
                        <span v-if="productEditStatus[code]">
                            Product Name : <input type="text" v-bind:value="product.name"> <br />
                            Product Colors : <input type="text" v-bind:value="product.color"> <br />
                            Product Details : <textarea rows="5" cols="50">\{{product.details}}</textarea>    
                        </span>

                        <span v-else>
                            Product Name : \{{product.name}}<br />
                            Product Colors : \{{product.color}} <br />
                            Product Details : \{{product.details}}
                        </span>
                    </td>

                    <td>
                        <button v-show="editOperation" id="edit_btn" v-on:click="productEditFired(code)" >Edit</button>
                        <input v-show="deleteOperation" type="checkbox" id="check_box" name="delete" v-bind:value="code" />
                        <button v-show="productEditStatus[code]" v-on:click="confirmEdit(code)" id="yes_btn">Yes</button>
                        <button v-show="productEditStatus[code]" v-on:click="cancelEdit(code)" id="no_btn">No</button>
                    </td>
                </tr>

                <tr>
                    <td colspan="4" align="right">
                        <button v-show="deleteOperation">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>

<footer id="footer">
        
    </footer>

<script src="../js/portal_v1.0.js"></script>